.badge {
    @media (max-width: 768px) {
        position: absolute;
        top: 5px;
        left: 5px;
    }
}

.recommendation {
    position: absolute;
    left: 24px;
    bottom: 20px;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
