.sub {
    position: relative;
    &:before {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        left: 61px;
        height: 80%;
        content: '';
        background-color: #c4ff61;
        width: 1px;
    }
    &:hover:before {
        width: 0;
    }

    &.active {
        font-weight: 700;
        &:before {
            left: 54px;
            width: 8px;
        }
    }
}
