.arrow {
    position: absolute !important;
    z-index: 1;
    top: 40%;
    transform: translateY(-50%);
    background-color: black !important;

    &-left {
        left: -10px;
    }

    &-right {
        right: -10px;
    }

    @media (max-width: 991px) {
        display: none !important;
    }
}
